<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="../static/Icon.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <title>Minimize state table</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/"
            >Minimize state table</a
          >
          <a class="nav-item nav-link" id="logout" href="/design_counter"
            >Design counter</a
          >
          <a class="nav-item nav-link" id="login" href="/"
            >Implement flowchart</a
          >
        </div>
      </div>
    </nav>
    <div id="error-container"></div>
    {% block content %} {% endblock %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='control.js') }}"
    ></script>
    <script>
      initTableNavigation();
    </script>
  </body>
  <!-- Footer -->
  <footer
    class="text-left text-lg-start text-dark footer"
    style="background-color: #f7f7f7"
  >
    <a
      href="https://www.facebook.com/profile.php?id=100026754553136"
      target="_blank"
      class="text-dark social-icon"
    >
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a
      href="https://github.com/Duynghk/LogicDesign"
      target="_blank"
      class="text-dark social-icon"
    >
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-left text-md-start">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-5 col-lg-6 col-xl-5 mx-auto">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">Product</h6>
            <hr
              class="mb-1 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p>
              The website helps minimize state tables and allows uploading a CSV
              file (refer to format file in GitHub) containing the state table
              to minimize.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-5 col-lg-6 col-xl-5 mx-auto mb-md-0">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
              class="mb-1 mt-0 d-inline-block mx-auto"
              style="width: 60px; background-color: #7c4dff; height: 2px"
            />
            <p><i class="fa fa-home" aria-hidden="true"></i> Viet Nam</p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              nguyenhoangkhanhduy030903@gmail.com
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2023
      <a
        class="text-dark"
        href="https://www.facebook.com/profile.php?id=100026754553136"
      >
        Khanh Duy. All rights reserved.</a
      >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</html>
